.spacer_xs {
    height:7px;
    width:100%;

    display: inline-block;
}
.message__spacer {
    height:'auto';
    display: inline-block;

    flex:5
}
.message__avatar {
    display: inline-block;
    height:'auto';

}